@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #78a0c8;
  min-height: 100vh; /* Reduce min-height to make it smaller */
  padding: 50px 0; /* Reduce padding to make it smaller */
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 75%;
  height: auto;
  max-width: 600px; /* Reduce max-width to make it smaller */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 18px; /* Reduce padding to make it smaller */
  background: #3a5b78;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 80%;
  color: #8cbae9;
  font-size: 14px; /* Reduce font-size to make it smaller */
  margin: 0.75rem; /* Reduce margin to make it smaller */
  margin-bottom: 10px; /* Reduce margin-bottom to make it smaller */
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.timeline-content:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.timeline-content:not(:hover) {
  /* Ease back when not hovering */
  transform: scale(1) translateY(0);
}

.timeline-component {
  margin: 0px 10px 10px 10px; /* Reduce margin to make it smaller */
}

@media screen and (min-width: 800px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #1b4a89, #517693);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px; /* Reduce width to make it smaller */
    height: 10px; /* Reduce height to make it smaller */
    border-radius: 50%;
    background-image: linear-gradient(45deg, #0c2342, #517693);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}