.button {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 360px;
  width: 200px;
}

.button_inner {
  border-radius: 4px;
  position: absolute;
  width: 200px;
  height: auto;
  left: 0;
  right: 0;
  top: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  color: white;
  text-align: center;
  justify-content: center;
  transition: all 0.3s, box-shadow 0.2s, transform 0.2s 0.2s;
}

.button_inner:hover {
  color: #2C3940;
  background: white;
  box-shadow: 0px 17px 18px -14px rgba(0, 0, 0, 0.08);
}

/* Tailwind CSS Responsive Classes */
@media (max-width: 1025px) {
  .button {
    position: relative;
    bottom: 25px;
    top: auto;
    left: auto;
    right: auto;
    margin: 20px auto;
    text-align: center;
    height: auto;
    width: 200px;
    font-size: 12px;
  }
}

@-webkit-keyframes spot-1 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-18px);
    opacity: 0.6;
  }
}

@keyframes spot-1 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-18px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-2 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-16px);
    opacity: 0.6;
  }
}
@keyframes spot-2 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-16px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-3 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-14px);
    opacity: 0.6;
  }
}
@keyframes spot-3 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-14px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-4 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-12px);
    opacity: 0.6;
  }
}
@keyframes spot-4 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-12px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-5 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-10px);
    opacity: 0.6;
  }
}
@keyframes spot-5 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-10px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-6 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-8px);
    opacity: 0.6;
  }
}
@keyframes spot-6 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-8px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-7 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-6px);
    opacity: 0.6;
  }
}
@keyframes spot-7 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-6px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-8 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-4px);
    opacity: 0.6;
  }
}
@keyframes spot-8 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-4px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-9 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-2px);
    opacity: 0.6;
  }
}
@keyframes spot-9 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(-2px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-10 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(0px);
    opacity: 0.6;
  }
}
@keyframes spot-10 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(0px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-11 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(2px);
    opacity: 0.6;
  }
}
@keyframes spot-11 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(2px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-12 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(4px);
    opacity: 0.6;
  }
}
@keyframes spot-12 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(4px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-13 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(6px);
    opacity: 0.6;
  }
}
@keyframes spot-13 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(6px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-14 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(8px);
    opacity: 0.6;
  }
}
@keyframes spot-14 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(8px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-15 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(10px);
    opacity: 0.6;
  }
}
@keyframes spot-15 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(10px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-16 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(12px);
    opacity: 0.6;
  }
}
@keyframes spot-16 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(12px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-17 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(14px);
    opacity: 0.6;
  }
}
@keyframes spot-17 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(14px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-18 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(16px);
    opacity: 0.6;
  }
}
@keyframes spot-18 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(16px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-19 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(18px);
    opacity: 0.6;
  }
}
@keyframes spot-19 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(18px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-20 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(20px);
    opacity: 0.6;
  }
}
@keyframes spot-20 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(30px) translatex(20px);
    opacity: 0.6;
  }
}
@keyframes spot-20 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-10px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-21 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-8px);
    opacity: 0.6;
  }
}
@keyframes spot-21 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-8px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-22 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-6px);
    opacity: 0.6;
  }
}
@keyframes spot-22 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-6px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-23 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-4px);
    opacity: 0.6;
  }
}
@keyframes spot-23 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-4px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-24 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-2px);
    opacity: 0.6;
  }
}
@keyframes spot-24 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(-2px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-25 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(0px);
    opacity: 0.6;
  }
}
@keyframes spot-25 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(0px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-26 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(2px);
    opacity: 0.6;
  }
}
@keyframes spot-26 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(2px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-27 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(4px);
    opacity: 0.6;
  }
}
@keyframes spot-27 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(4px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-28 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(6px);
    opacity: 0.6;
  }
}
@keyframes spot-28 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(6px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-29 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(8px);
    opacity: 0.6;
  }
}
@keyframes spot-29 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(8px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-30 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(10px);
    opacity: 0.6;
  }
}
@keyframes spot-30 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(10px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-31 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(12px);
    opacity: 0.6;
  }
}
@keyframes spot-31 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(12px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-32 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(14px);
    opacity: 0.6;
  }
}
@keyframes spot-32 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(14px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-33 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(16px);
    opacity: 0.6;
  }
}
@keyframes spot-33 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(16px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-34 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(18px);
    opacity: 0.6;
  }
}
@keyframes spot-34 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(18px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-35 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(20px);
    opacity: 0.6;
  }
}
@keyframes spot-35 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(20px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-36 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(22px);
    opacity: 0.6;
  }
}
@keyframes spot-36 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(22px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-37 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(24px);
    opacity: 0.6;
  }
}
@keyframes spot-37 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(24px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-38 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(26px);
    opacity: 0.6;
  }
}
@keyframes spot-38 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(26px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-39 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(28px);
    opacity: 0.6;
  }
}
@keyframes spot-39 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(28px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-40 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(30px);
    opacity: 0.6;
  }
}
@keyframes spot-40 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-30px) translatex(30px);
    opacity: 0.6;
  }
}
@keyframes spot-40 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-6px) translatex(40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-41 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-4px) translatex(40px);
    opacity: 0.6;
  }
}
@keyframes spot-41 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-4px) translatex(40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-42 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-2px) translatex(40px);
    opacity: 0.6;
  }
}
@keyframes spot-42 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-2px) translatex(40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-43 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0px) translatex(40px);
    opacity: 0.6;
  }
}
@keyframes spot-43 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0px) translatex(40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-44 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(2px) translatex(40px);
    opacity: 0.6;
  }
}
@keyframes spot-44 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(2px) translatex(40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-45 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(4px) translatex(40px);
    opacity: 0.6;
  }
}
@keyframes spot-45 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(4px) translatex(40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-46 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-7px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-46 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-7px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-47 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-5px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-47 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-5px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-48 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-3px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-48 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-3px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-49 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-1px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-49 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(-1px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-50 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(1px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-50 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(1px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-51 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(3px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-51 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(3px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-52 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(5px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-52 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(5px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-53 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(7px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-53 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(7px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes spot-54 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(9px) translatex(-40px);
    opacity: 0.6;
  }
}
@keyframes spot-54 {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(9px) translatex(-40px);
    opacity: 0.6;
  }
}
@-webkit-keyframes opacity {
  to {
    opacity: 0;
  }
}
@keyframes opacity {
  to {
    opacity: 0;
  }
}



