body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  color: #4583c1;
  background-color: #26374d;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

@media (min-width: 726px) and (max-width: 1025px) {
  footer {
    width: 107%;
  }
}
@media (min-width: 353px) and (max-width: 725px) {
  footer {
    width: 107%;
  }
}
@media (max-width: 352px) {
  footer {
    width: 114%;
  }
}