body {
  background: #e3f2fd;
}

svg {
  font-family: 'Russo One', sans-serif;
  width: 90vw;
  height: 100%;
  position: relative;
  top: 150px;
}

svg text {
  font-weight: bold;
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  text-align: center;
  text-justify: center;
  font-size: 140px;
}
.text{
  animation: none;
  stroke-width: 1.5;
  stroke: rgb(33, 54, 92);
  fill: none;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@media (max-width: 1025px) {
  svg {
    max-width: 100vw;
    height: auto;
    position: relative;
    top: -50%; /* Adjust this value to move the text down */
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 2500px;
  }
}