.custom-margin {
  margin-left: 5px;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

.nav {
	width: calc(100%);
	background-color: #fff;
	padding: 100 1rem;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.github-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the logo to the right */
}

.github-logo {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}


/* Media query for smaller screens (e.g., dropdown/mobile view) */
@media (max-width: 768px) {
  .github-logo-wrapper {
    justify-content: center; /* Center the logo horizontally */
    flex-direction: column; /* Stack the logo below the text */
  }

  .github-logo {
    margin-top: 10px; /* Add some space between the text and logo */
  }
}

/* Media query for larger screens (e.g., computer view) */
@media (min-width: 769px) {
  .github-logo-wrapper {
    justify-content: flex-end; /* Align the logo to the right */
  }

  .github-logo {
    margin-left: 20px; /* Add some space between the text and logo */
  }
}

.github-logo:hover {
  border-color: #333; /* Change the border color on hover */
}


.smooth-scroll {
  scroll-behavior: smooth;
  scroll-behavior: 10000s;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

#about {
  margin-top: -50px;
  height: 30vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#personal,
#contact {
  height: 30vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#downloads,
#academics {
  height: 30vh;
  color: #3b3b3c;
  background: #eaf2fa;
  justify-content: center;
  text-align: center;
}

#about-i {
  margin-top: -50px;
  height: 90vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#personal-i,
#contact-i {
  height: 90vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#downloads-i,
#academics-i {
  height: 90vh;
  color: #3b3b3c;
  background: #eaf2fa;
  justify-content: center;
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust the styles for screens up to 768px wide */
  #about,
  #personal,
  #contact,
  #downloads,
  #academics {
    margin-top: 0;
    padding: 20px; /* Add some padding to the sections */
    text-align: left;
  }
}