.custom-margin {
  margin-left: 5px;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

.nav {
  width: calc(100%);
  background-color: #fff;
  padding: 100 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}
.navbar-ani-under {
  position: relative;
  transition: color 0.3s ease;
  color: #4b4b4b !important;
}

.navbar-ani-under:after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 100%;
  height: 3px;
  transform: translateX(-50%) scaleX(0);
  background-color: #55b8d4;
  transition: transform 0.3s ease;
  transform-origin: 0 0;
}

.navbar-ani-under:hover {
  color: #55b8d4 !important;
}

.navbar-ani-under:hover:after {
  transform: translateX(-50%) scaleX(1);
  height: 2px;
}
@media (max-width: 1000px) {
  .navbar-ani-under {
    transition: color 0.2s ease !important;
    color: #4b4b4b !important;
  }
  .navbar-ani-under:after {
    transition: none;
    background-color: transparent !important;
  }
  .navbar-ani-under:hover {
    color: #55b8d4 !important;
  }
}
.github-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.github-logo {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}

@media (max-width: 726px) {
  .github-logo-wrapper {
    justify-content: center; /* Center the logo horizontally */
    flex-direction: column; /* Stack the logo below the text */
  }

  .github-logo {
    margin-top: 5px; /* Add some space between the text and logo */
    margin-left: 0; /* Set the horizontal margin to 0 */
  }
}

/* Media query for larger screens (e.g., computer view) */
@media (min-width: 727px) {
  .github-logo-wrapper {
    justify-content: flex-end; /* Align the logo to the right */
    flex-grow: 1; /* Allow the logo wrapper to grow and push the logo to the right */
  }

  .github-logo {
    margin-right: 0px; /* Add some space between the logo and the right edge of the screen */
  }
}

.smooth-scroll {
  scroll-behavior: smooth;
  scroll-behavior: 10000s;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

#about {
  margin-top: -50px;
  height: 30vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#personal,
#contact {
  height: 30vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#downloads,
#academics {
  height: 30vh;
  color: #3b3b3c;
  background: #eaf2fa;
  justify-content: center;
  text-align: center;
}

#about-i {
  margin-top: -50px;
  height: 90vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#personal-i,
#contact-i {
  height: 90vh;
  color: #3b3b3c;
  background: #f3f7fa;
  justify-content: center;
  text-align: center;
}

#downloads-i,
#academics-i {
  height: 90vh;
  color: #3b3b3c;
  background: #eaf2fa;
  justify-content: center;
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust the styles for screens up to 768px wide */
  #about,
  #personal,
  #contact,
  #downloads,
  #academics {
    margin-top: 0;
    padding: 20px; /* Add some padding to the sections */
    text-align: left;
  }
}