@import url('./Fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.custom-margin {
  margin-left: 15px;
}
.portfolio {
  position: relative;
  color: #4583c1;
  letter-spacing: 0.1em;
  overflow: hidden;
  border-right: 2px solid #8cbae9;
  white-space: nowrap;
  animation: typewriter 3.8s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #8cbae9;
  }
  to {
    border-right-color: transparent;
  }
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 23px !important;
  font-weight: bold;
}
.sectionh2-about {
  font-weight: bold !important;
  color: #8babcb;
  position: relative;
  top: 100px;
  align-items: center;
  justify-content: center;
}
.sectionh2-project {
  font-weight: bold !important;
  color: #8babcb;
  position: relative;
  top: 10px;
  align-items: center;
  justify-content: center;
}
.sectionh2-contact {
  font-weight: bold !important;
  color: #8babcb;
  position: relative;
  top: 10px;
  align-items: center;
  justify-content: center;
}
.sectionh2-skills {
  font-weight: bold !important;
  color: #8babcb;
  position: relative;
  top: 70px;
  align-items: center;
  justify-content: center;
}
.nav {
  width: calc(100%);
  background-color: #26374d !important;
  padding: 100 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}
.custom-text-color{
  color: #4583c1 !important;
  font-family: 'Poppins', sans-serif;
}
.custom-dropdown-btn {
  background-color: #4583c1;
  color: #55b8d4;
}

.navbar-nav .nav-link {
  color: #4583c1 !important;
}

.navbar-ani-under {
  position: relative;
  transition: color 0.3s ease;
}

.navbar-ani-under:after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 85%; /* Change width of the underline */
  height: 3px;
  background-color: #55b8d4;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: 0 0;
}

.navbar-ani-under:hover {
  color: #55b8d4 !important;
}

.navbar-ani-under:hover:after {
  transform: translateX(-50%) scaleX(1);
  height: 2px;
}

.custom-tooltip-content {
  color: #55b8d4;
}

@media (max-width: 1000px) {
  .navbar-ani-under {
    transition: color 0.2s ease !important;
    color: #4b4b4b !important;
  }
  .navbar-ani-under:after {
    transition: none;
    background-color: transparent !important;
  }
  .navbar-ani-under:hover {
    color: #55b8d4 !important;
  }
}
.github-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.github-logo {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}

@media (max-width: 726px) {
  .github-logo-wrapper {
    justify-content: center;
    flex-direction: column;
  }

  .github-logo {
    margin-top: 5px;
    margin-left: 0;
  }
}

@media (min-width: 727px) {
  .github-logo-wrapper {
    justify-content: flex-end;
    flex-grow: 1;
  }

  .github-logo {
    margin-right: 0px;
  }
}

.smooth-scroll {
  scroll-behavior: smooth;
  scroll-behavior: 10000s;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: normal;
}

#about {
  margin-top: -50px;
  height: 30vh;
  color: #eaf2fa;
  background: #1b2633;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  visibility: visible;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border-top: 6px solid #4583c1;
  font-family: 'Rubik', sans-serif;

}

#projects {
  height: 30vh;
  margin-top: -50px;
  color: #eaf2fa;
  background: #1b2633;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  visibility: visible;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border-top: 4px solid #4583c1;
  font-family: 'Rubik', sans-serif;
}
#skills {
  height: 30vh;
  margin-top: -50px;
  color: #eaf2fa;
  background:rgb(34, 46, 61);
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  visibility: visible;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border-top: 4px solid #4583c1;
  font-family: 'Rubik', sans-serif;
}
#contact {
  height: 30vh;
  margin-top: -50px;
  color: #eaf2fa;
  background: rgb(34, 46, 61);
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  visibility: visible;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border-top: 4px solid #4583c1;
  font-family: 'Rubik', sans-serif;
}

#about-i {
  height: 105vh;
  margin-top: -50px;
  color: #eaf2fa;
  background: #1b2633;
  justify-content: center;
  text-align: center;
}

#projects-i {
  height: 105vh;
  margin-top: -50px;
  color: #eaf2fa;
  background: #1b2633;
  justify-content: center;
  text-align: center;
}
#skills-i {
  height: 105vh;
  margin-top: -50px;
  color: #eaf2fa;
  background: rgb(34, 46, 61);
  justify-content: center;
  text-align: center;
}
#contact-i {
  height: 105vh;
  margin-top: -50px;
  color: #eaf2fa;
  background: rgb(34, 46, 61);
  justify-content: center;
  text-align: center;
  border-bottom: 4px solid #4583c1;
}

@media (max-width: 768px) {
  #about,
  #projects,
  #contact,
  #skills {
    margin-top: 0;
    padding: 20px;
    text-align: left;
  }
}
@media (min-width: 726px) and (max-width: 1025px) {
  #about,
  #projects,
  #contact,
  #skills {
    width: 107vw;
  }

  #about-i,
  #projects-i,
  #contact-i,
  #skills-i {
    width: 107vw;
  }
}
@media (min-width: 353px) and (max-width: 725px) {
  #about,
  #projects,
  #contact,
  #skills {
    width: 115.9vw;
  }

  #about-i,
  #projects-i,
  #contact-i,
  #skills-i {
    width: 115.9vw;
  }
}
@media (max-width: 352px) {
  #about,
  #projects,
  #contact,
  #skills {
    width: 154.9vw;
  }

  #about-i,
  #projects-i,
  #contact-i,
  #skills-i {
    width: 154.9vw;
  }
}
@media (max-width: 172px) {
  #about,
  #projects,
  #contact,
  #skills {
    width: 590.7vw;
  }

  #about-i,
  #projects-i,
  #contact-i,
  #skills-i {
    width: 590.7vw;
  }
}
