.button {
  position: relative; /* Change position to relative to avoid overlapping issues */
  margin: 20px auto;
  text-align: center;
  z-index: 100;
  width: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent; /* Set background to transparent */
}

.button_inner {
  display: flex; /* Use Flexbox for the inner container */
  justify-content: center;
  align-items: center;
  width: 50px; /* Adjust the width to your preference */
  height: 50px; /* Set the height to the desired value */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
  font-weight: 100;
  cursor: pointer;
  border: none;
  color: none;
  background-image: url('/src/Assets/downarrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: all 0.5s, box-shadow 0.2s;
}

.button_inner:hover {
  color: #55b8d4;
  background-image: url('/src/Assets/downarrow.png');
  transform: translateY(8px);
}

/* Tailwind CSS Responsive Classes */
@media (max-width: 1000px) {
  .button {
    margin: 20px auto;
    font-size: 12px;
  }
}