.shooting-star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust the height to cover the full viewport */
  pointer-events: none;
  background: none;
  overflow: hidden; /* Hide the overflow to ensure shooting stars only appear at the top */
}

.shooting-star-container span {
  position: absolute;
  top: -50px; /* Adjust the initial position to start above the viewport */
  left: 50%; /* Center horizontally */
  width: 20px;
  height: 20px;
  background: url(/public/Assets/Star.png) center center no-repeat;
  background-size: contain;
  animation: animate 1s linear infinite;
  transform: translateX(-50%); /* Center horizontally */
}

.shooting-star-container span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #8babcb, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
    z-index: 100;
  }
}

span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0.1s; /* Increase the delay to 0.1 seconds */
  animation-duration: 1s;
  z-index: 100;
}

span:nth-child(2) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 1.5s; /* Increase the delay to 1.5 seconds */
  animation-duration: 2s;
  z-index: 100;
}
span:nth-child(3) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.5s; /* Increase the delay to 0.5 seconds */
  animation-duration: 1.5s;
  z-index: 100;
}
span:nth-child(4) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 1.5s; /* Increase the delay to 1.5 seconds */
  animation-duration: 2.5s;
  z-index: 100;
}
