@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.textbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
}

.textbox,
.textbox2,
.textbox3 {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background-color: #3a5b78;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  resize: vertical;
  color: #8cbae9;
  font-size: 15px;
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.009em;
}

.textbox {
  top: 15vh;
}

.textbox2 {
  top: 20vh;
}

@media (max-height: 726px) {
  .textbox-container,
  .textbox2-container {
    top: 0;
  }

  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 300px) {
  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 6vw;
  }
}

@media (min-width: 726px) and (max-width: 1000px) {
  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 2.5vw;
  }
}
@media (min-width: 405px) and (max-width: 725px) {
  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 3vw;
  }
}
@media (min-width: 353px) and (max-width: 404px) {
  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 5vw;
  }
}
@media (max-width: 352px) {
  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 6vw;
  }
}
@media (max-width: 172px) {
  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 6vw;
  }
}
