.textbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #eaf2fa;
  max-width: 100%;
}

.textbox,
.textbox2,
.textbox3 {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background-color: #3a5b78;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  resize: vertical;
  color: #8cbae9;
  font-size: 15px;
  position: relative;
}

.textbox {
  top: 15vh;
}

.textbox2 {
  top: 20vh;
}

@media (max-width: 726px) {
  .textbox-container,
  .textbox2-container {
    top: 0;
  }

  .textbox,
  .textbox2,
  .textbox3 {
    font-size: 3vw; /* Adjust this value as needed */
  }
}