.textbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  max-width: 100%;
}

.textbox {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  color: #3b3b3c;
  font-size: 15px;
  position: relative;
  top: 120vh;
}

.textbox2 {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  color: #3b3b3c;
  font-size: 15px;
  position: relative;
  top: 125vh;
}
.textbox3 {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  color: #3b3b3c;
  font-size: 15px;
  position: relative;
  top: 180vh;
}


@media (max-width: 1025px) {
  .textbox-container,
  .textbox2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    max-width: 100%;
    top: 0;
  }

  .textbox {
    position: relative;
    top: 125vh;
  }
  .textbox2 {
    position: relative;
    top: 130vh;
  }
  .textbox3 {
    position: relative;
    top: 170vh;
  }
}