.tab-menu {
  display: flex;
  flex-direction: column;
}

.tab-menu-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  right: 0vw;
  top: 0vh;
  width: 40vw;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
}

.tabs li {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: -11px;
  position: relative;
  transition: color 0.3s ease;
  color: #4583c1 !important;
  font-size: 20px;
  font-weight: bold;
}

.tabs li:after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 50%;
  width: 75%;
  height: 3px;
  background-color: #55b8d4;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.52s ease;
  transform-origin: 0 0;
}

.tabs li:hover {
  color: #55b8d4 !important;
}

.tabs li:hover::after {
  transform: translateX(-50%) scaleX(0);
  height: 2px;
}

.tabs li.active:after {
  transform: translateX(-50%) scaleX(1);
  height: 2px;
  background-color: #55b8d4;
}

.tabs li.active {
  color: #55b8d4 !important;
}

.tab-content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: none;
  padding: 10px;
  max-height: 700px;
  overflow-y: auto;
  color: #4b4b4b !important;
  text-align: center;
  font-size: 15px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.certlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Media queries to adjust styles for smaller screens */
@media (max-width: 1025px) {
  .tab-menu-container {
    width: 80vw;
  }
  .tabs li {
    font-size: 19px;
  }
}

@media (min-width: 726px) and (max-width: 1025px) {
  .tab-menu-container {
    width: 90vw;
  }
  .tabs li {
    font-size: 18px;
  }
}
@media (min-width: 353px) and (max-width: 725px) {
  .tab-menu-container {
    width: 90vw;
  }
  .tabs li {
    font-size: 18px;
  }
}

@media (max-width: 294px) and (max-width: 352px) {
  .tab-menu-container {
    width: 90vw;
  }
  .tabs li {
    font-size: 16px;
  }
}
@media (max-width: 293px) {
  .tab-menu-container {
    width: 90vw;
  }
  .tabs li {
    font-size: 11px;
  }
}
