.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(#0c2342, #517693);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
  min-width: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  visibility: visible;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.background-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0c2342, #517693);
  background-size: cover;
  background-repeat: no-repeat;
}


.App-link {
  color: #61dafb;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b0c10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4583c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55b8d4;
}

@media (min-width: 726px) and (max-width: 1025px) {
  .App-header {
    height: 100px;
    width: 107vw;
  }
}
@media (min-width: 353px) and (max-width: 725px) {
  .App-header {
    height: 100px;
    width: 107vw;
  }
}
@media (max-width: 352px) {
  .App-header {
    height: 100px;
    width: 113.7vw;
  }
}
